* {
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body{
    font: 20px sans-serif;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
.info {
    margin: .5em 0;
}
button{
    margin-left: 1em;
    text-transform: uppercase;
    padding: 1em;
    background: transparent;
    border: 1px solid;
    outline: none;
}
canvas{
    border: 4px solid teal;
    width: 100%;
    height: 50%;
}