<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About us</title>
    <link rel="stylesheet" href="../static/css/game.css">
    <link rel="stylesheet" href="../static/css/loading.css">
</head>
<body>
    <div id="background">
        <div id="game-wrapper" class="padding-50">
            <button id="return-home"><img src="../static/resource/out.png" alt=""></button>
            <div class="game-info-wrapper">
                <span>About us</span>
                <span>Let us introduce about us</span>
            </div>
            <div class="adviser">
                <div class="intro-header">ADVISER</div>
                <div class="individual-section">
                    <div class="photo-wrapper">
                        <img src="../static/resource/profile/zakaria.png" alt="">
                        <div class="names">Zakaria</div>
                    </div>
                    <div class="paragraph-wrapper">
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="members">
                <div class="intro-header">TEAM MEMBERS</div>
                <div class="section-wrapper">
                    <div class="group-section">
                        <div class="individual-section">
                            <div class="photo-wrapper">
                                <img src="../static/resource/profile/zakaria.png" alt="">
                                <div class="names">Jieun Ryu</div>
                            </div>
                            <div class="paragraph-wrapper">
                                <p></p>
                            </div>
                        </div>
                        <div class="individual-section">
                            <div class="photo-wrapper">
                                <img src="../static/resource/profile/choi.png" alt="">
                                <div class="names">Kihyun Choi</div>
                            </div>
                            <div class="paragraph-wrapper">
                                <p>
                                    Always trying to be a <br>
                                    Self motivated developer. <br>
                                    Well.. Why aren't you playing the game?
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="group-section">
                        <div class="individual-section">
                            <div class="photo-wrapper">
                                <img src="../static/resource/profile/zakaria.png" alt="">
                                <div class="names">Jaeho Sung</div>
                            </div>
                            <div class="paragraph-wrapper">
                                <p></p>
                            </div>
                        </div>
                        <div class="individual-section">
                            <div class="photo-wrapper">
                                <img src="../static/resource/profile/jang.jpeg" alt="">
                                <div class="names">Hyeokju Jang</div>
                            </div>
                            <div class="paragraph-wrapper">
                                <p>
                                    Without Fun, It's meaningless. <br>
                                    Done is better than perfect. <br>
                                    Screw it, Let's do it. <br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="group-section">
                        <div class="individual-section">
                            <div class="photo-wrapper">
                                <img src="../static/resource/profile/zakaria.png" alt="">
                                <div class="names">Seungtae Kim</div>
                            </div>
                            <div class="paragraph-wrapper">
                                <p></p>
                            </div>
                        </div>
                        <div class="individual-section">
                            <div class="photo-wrapper">
                                <img src="../static/resource/profile/miji.png" alt="">
                                <div class="names">Miji Kim</div>
                            </div>
                            <div class="paragraph-wrapper">
                                <p>
                                    Nice to meet you ! <br>
                                    My name is Mi-ji, who is the mood maker in this project. <br>
                                    Enjoy the game :)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="../static/js/main.js"></script>
</body>
</html>