<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About us</title>
    <link rel="stylesheet" href="../static/css/game.css">
    <link rel="stylesheet" href="../static/css/loading.css">
</head>
<body>
    <div id="background">
        <div id="game-wrapper" class="padding-50">
            <button id="return-home"><img src="../static/resource/out.png" alt=""></button>
        </div>
    </div>
    <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="../static/js/main.js"></script>
</body>
</html>