<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Guess Draw</title>
    <link rel="stylesheet" href="../static/css/game.css">
</head>
<body>
    <div id="background">
        <div id="game-wrapper" class="padding-50">
            <div class="inner-game-header full-width">
                <div class="score-wrapper">
                    <span>Total Score:</span>
                    <span id="speed-draw-score">0</span>
                    <span>/60 points</span>
                </div>
                <div class="game-info-wrapper">
                    <span>Guess Drawing</span>
                    <span>Guess what AI draws</span>
                </div>
            </div>
            <div class="game-contents-wrapper full-width">
                <div class="mission-level-wrapper">
                    <div class="drawing-level">level 10</div>
                    <div class="drawing-level">level 09</div>
                    <div class="drawing-level">level 08</div>
                    <div class="drawing-level">level 07</div>
                    <div class="drawing-level">level 06</div>
                    <div class="drawing-level">level 05</div>
                    <div class="drawing-level">level 04</div>
                    <div class="drawing-level">level 03</div>
                    <div class="drawing-level">level 02</div>
                    <div class="drawing-level">level 01</div>
                </div>
                <div class="ai-canvas-wrapper" id="sketch">
                    
                </div>
                <div class="user-input-wrapper">
                    <input type="text">
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/js/main.js"></script>
    <!-- ADDED BY JANG FOR EXAMPLE FROM HERE-->
    <script language="javascript" type="text/javascript" src="https://storage.googleapis.com/quickdraw-models/sketchRNN/models/ant.vae.js"></script>
    <script language="javascript" type="text/javascript" src="https://cdn.jsdelivr.net/gh/nicolaspanel/numjs@0.15.1/dist/numjs.min.js"></script>
    <script language="javascript" type="text/javascript" src="../static/model_autoencoder/lib/p5.js"></script>
    <script language="javascript" type="text/javascript" src="../static/model_autoencoder/lib/p5.svg.js"></script>
    <script language="javascript" type="text/javascript" src="../static/model_autoencoder/lib/sketch_rnn.js"></script>
    <script language="javascript" type="text/javascript" src="../static/model_autoencoder/generate_image.js"></script>

    <!-- TO HERE -->
</body>
</html>