<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Draw Something</title>
    <link rel="stylesheet" href="../static/css/game.css">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
    <div id="background">
        <div id="game-wrapper">
            <div class="game-title">Draw Something</div>
            <!-- TODO :: Text paragraph area -->
            <div class="select-box-wrapper">
                <div class="select-game active">
                    <div class="game-image-wrapper">
                        <img src="../static/resource/alarm-clock.png" alt="">
                    </div>
                    <div class="text-wrapper">
                        <div class="game-header">
                            <span>Speed Draw</span>
                        </div>
                        <div class="game-description">
                            <span>Complete 3 drawings <br> in 60 seconds!</span>
                        </div>
                    </div>
                </div>
                <div class="select-game active">
                    <div class="game-image-wrapper">
                        <img src="../static/resource/question.png" alt="">
                    </div>
                    <div class="text-wrapper">
                        <div class="game-header">
                            <span>Guess Drawing</span>
                        </div>
                        <div class="game-description">
                            <span>Guess what AI draws!</span>
                        </div>
                    </div>
                </div>
                <div class="select-game comming-soon">
                    <div class="game-image-wrapper">
                        <img src="../static/resource/collaboration.png" alt="">
                    </div>
                    <div class="text-wrapper">
                        <div class="game-header">
                            <span>Draw Together</span>
                        </div>
                        <div class="game-description">
                            <span>Comming soon....</span>
                        </div>
                    </div>
                </div>
                <div class="select-game active">
                    <div class="game-image-wrapper">
                        <img src="../static/resource/people.png" alt="">
                    </div>
                    <div class="text-wrapper">
                        <div class="game-header">
                            <span>Who made it?</span>
                        </div>
                        <div class="game-description">
                            <span>Let's see who made it</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/js/fabric.js"></script>
    <script src="../static/js/main.js"></script>
</body>
</html>